#chronoContainer {
    background-color: #000;
    padding: 0.5em;
    border-radius: 0.5em;
    margin: 20px;
    margin-bottom: 5px;
    text-align: center;
    height: calc(100% - 75px);
}

#chronoDisplay {
    height: 100%;
    font-size: 2.5em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #fff;
}