#resultDice {
    width: 100%;
    height: 100%;
    font-size: 4em;
    background-color: rgba(0, 0, 0, 0.1);
}

[data-bs-theme=dark] #resultDice {
    background-color: none;
}

.resultDiceColor {
    color: #000!important;
}

[data-bs-theme=dark] .resultDiceColor {
    color: #fff!important;
}