/* Iframes */
#embedViewerApp .iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#embedViewerApp .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

#embedViewerApp .iframe-placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#embedViewerApp .nav-pills .nav-link{
    font-size: 12px;
    padding: 2px 9px;
}