#qrcodeApp {
  padding: 10px;
}

#qrcodeApp canvas {
  margin: auto;
  display: block;
}

.copyright {
  color: #333;
  font-size: 10px;
  position: absolute;
  bottom: 10px;
  left: 5px;
  padding-right: 20px;
  padding-left: 20px;
  opacity: 0.7;
  z-index: 1;
}