.btnReactions{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid var(--bs-secondary-bg-subtle);
    border-radius: 30px;
    font-size: 35px;
    margin: 5px;
    padding: 5px;
    width: 70px;
    height: 70px;
}

.btnReactions:hover{
    background-color: var(--bs-light);
    color: var(--bs-light);
}

#volumeReactionsBtn{
    position : absolute;
    bottom: 5px;
    right: 5px;
    padding: 5px;
}