#meter {
    position: fixed;
    background: #fff;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.conteneur {
    border: 2px solid #888;
    border-radius: 5px;
    margin-top: 20px;
    height: 30px;
    width: 100%
}

#bar {
    background: red;
    height: 26px;
}