#trafficLightApp {
    background-color: black;
    width: 100px;
    height: 250px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    border-radius: 10px;
  }
  #trafficLightApp span {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: gray;
  }
  
  .redLight {
    background-color: red !important;
  }
  
  .yellowLight {
    background-color: orange !important;
  }
  
  .greenLight {
    background-color: green !important;
  }
  