.note-editable .card-header {
    position: fixed;
}

@media (min-width: 639px) {
    .note-editable {
        height: calc(100vh - 77px);
    }
}

@media (max-width: 639px) {
    .note-editable {
        height: calc(100vh - 114px);
    }
}

@media (max-width: 360px) {
    .note-editable {
        height: calc(100vh - 152px);
    }
}

